.dark-bg {
  background-color: $dark-bg;
  color: #fff;
  padding-bottom: .5em;

  h1 {
    color: $gold-col;
  }

  hr {
    border-color: $gold-col;
    padding: 0;
    width: 100%;
    max-width: 875px; 
    margin: auto auto;
  }

  .text-highlighted {
    color: $gold-col;
    font-weight: 400;
  }

  a {
    @extend %link;
    color: $gold-col;

    &:hover {
      color: $pink-col;
    }
  }
}