.light-bg {
  background-color: whitesmoke;
  color: $black-col;
  padding-bottom: .5em;

  
.quote{
  font-size: 2em;   
 }

  .text-highlighted {
    color: $light-blue;
    font-weight: 400;
  }

  h1 {
    color: $black-col;
  }
}