    /*
    Flaticon icon font: Flaticon
    Creation date: 01/12/2019 16:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-wine-tasting:before { content: "\f100"; }
.flaticon-discuss-issue:before { content: "\f101"; }
.flaticon-fruit:before { content: "\f102"; }
.flaticon-shopping-cart:before { content: "\f103"; }
.flaticon-old-typical-phone:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-facebook:before { content: "\f106"; }
    
    $font-Flaticon-wine-tasting: "\f100";
    $font-Flaticon-discuss-issue: "\f101";
    $font-Flaticon-fruit: "\f102";
    $font-Flaticon-shopping-cart: "\f103";
    $font-Flaticon-old-typical-phone: "\f104";
    $font-Flaticon-user: "\f105";
    $font-Flaticon-facebook: "\f106";