.suppliers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3em;
  margin: 6em auto;
  justify-items : center;

  @include mobileLg {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .supplier {
    position: relative;
    width: min-content;
    height: min-content;
    max-width: 90vw;
    cursor: pointer;

    &:hover {
      .supplier__text::before {
        width: 100%;
        max-width: 340px !important;
      }
    }

    .supplier__img {
      max-width: 350px !important;
      @include opacity(.6);
    }

    .supplier__text {
      max-width: 90%;
      position: absolute;
      bottom: 5%;
      font-size: calc(.7rem + 2vw);
      left: 5%;

      &::before {
        content: '';
        @include flexbox();
        position: relative;
        height: 5px;
        width: 10px;
        background-color: $gold-col;
        @include transition(width 400ms ease);
      }

      @include desktop {
        font-size: 1.5rem;
      }
    }

    .supplier__flag {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 2em;

    }
  }
}

$sup-logo-width: 33.3333%;

.supplier__info {
  @include justify-content(space-around);
  column-gap: 2em;
  margin-bottom: 1.8em;
  @include align-items(center);

  .supplier__info__logo {
    @include flex-basis($sup-logo-width);

    img {
      width: 100%;
    }
  }

  .supplier__info__text {
    @include flex-basis(100% - $sup-logo-width);
    margin-left: 1em;
    text-align: justify;
  }
}

// Bottles
.bottles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3em;
  margin-top: 1em;

  $time: 350ms;
  .bottle {
    border: 1px solid whitesmoke;
    overflow: hidden;
    border-radius: 1em;
    height: 370px;
    
    &__head {
      position: relative;
      z-index: 0;
      text-align: center;
      height:200px ;
      @include transition(all $time ease);
    }

    &__bg-image {
      position: absolute;
      right: 0;
      top: 50%;
      @include translate(0, -50%);
      @include opacity(.12);
      width: 100%;
      z-index: -2;
      filter: grayscale(100%);
      @include transition(height $time ease);

    }

    &__image {
      margin: 1em auto -1.5em auto;
      z-index: 999 !important;
      height: 200px;
      @include transition(opacity 150ms ease-in-out);
    }

    &__body {
      background-color: whitesmoke;
      color: $dark-bg;
      height: 50%;
      @include transition(all $time ease);

    }
    &__heading{
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: $cinzel;
      text-align: center;
      padding: 1.55rem .5rem 0 .5rem;
      
    }

    &__basic-info{
      margin: 0.3rem .5rem;
    }

    &__species-list{
      list-style-type: none;
    }

    &__more-info{
      list-style-type: none;
      margin: 0 .5rem;
      @include opacity(0);
      @include transition(opacity 150ms ease);

    }

    &:hover{
      .bottle__heading{
        padding-top: 0.3rem;
      }
      .bottle__head{
        height: 100px
      }
      .bottle__image{
        @include opacity(0);
      }
      .bottle__bg-image{
        width: auto;
        height: 90%;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
      }
      .bottle__body{
        height: 100%;
      }
      .bottle__more-info{
        @include opacity(1);
      }
    }
  }
}