<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>WA Wine & Art - Milevsko</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="author" content="Jan Soldát" />
  <meta lang="cs" />
  <meta name="description"
    content="Prodej exkluzivních vín z malých rodinných podniků nacházejících se v České republice, Francii či Rakousku. Naše motto zní, že život je příliš krátký na to, abychom pili nekvalitní víno." />
  <meta name="keywords"
    content="wine,víno,šampaňské,champagne,France,Moravia,Francie,Morava,Austria,Rakousko,art,umění,sklenice,láhev,exkluzivní,luxusní, Pinot, Chevauchet, chardonnay, meunier, pinot noir, Empreinte de Terroir, rosé, brut extra, Anthime, Sensation, Héritage, Rosé de saignée, Collet, domaine" />
  <link rel="shortcut icon" href="../../assets/img/favicon.ico" />
  
  
</head>

<body>
  <!-- Landing page with Logo, Main Picture and Navbar-->

  <nav class="navbar">
    <div class="navbar__controls">
      <a href="#" class="navbar__brand">Wine & Art</a>
      <div class="navbar__button">
        <svg class="navbar__ham" viewBox="0 0 100 100" width="60">
          <path class="line line--top"
            d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
          <path class="line line--middle" d="m 70,50 h -40" />
          <path class="line line--bottom"
            d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
        </svg>
      </div>
    </div>

    <div class="navbar__content navbar--collapsed">
      <ul>
        <li>
          <a class="smoothScroll" data-scroll-target='#about-ID' href="#about-ID">O nás</a>
        </li>
        <li>
          <a class="smoothScroll" data-scroll-target='#services-ID' href="#services-ID">Služby</a>
        </li>
        <li>
          <a class="smoothScroll" data-scroll-target="#offer-ID" href="#offer-ID">Nabídka</a>
        </li>
        <li>
          <a class="smoothScroll" data-scroll-target="#contact-ID" href="#contact-ID">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>

  <header class="masthead">
    <div class="masthead__overlay">
      <div class="masthead__logo"></div>
    </div>
  </header>

  <section class="dark-bg about" id="about-ID">
    <div class="container">
      <h1>O Nás</h1>

      <p class="text-block">
        <span>
          Naší filosofií je dostat mezi milovníky vína něco trochu jiného a exluzivnějšího, než je aktuální nabídka
          velkoproducentů. Reprezentujeme pouze svá vína na webu nebo eshopu, vše je na bázi osobní spolupráce. Naše
          motto zní, že
        </span>
        <span class="text-highlighted"> život je příliš krátký na to, abychom pili
          nekvalitní víno.
        </span>
        <br />
        <span>
          Spolupracujeme s malými rodinnými vinařstvími na osobní bázi. V rámci
          svých aktivit pořádáme často degustace jak u nás, tak přímo u
          zákazníků, kde se právě snažíme co nejvíce přiblížit myšlenky
          jednotlivých vinařství a jejich přístup k výrobě vína.
        </span>
      </p>
      <p class="text-block">
        <span>V případě jakýchkoliv dotazů či podmětů nás neváhejte
        </span>
        <a href="#contact">
          <span>kontaktovat<span> <i
                class="fas fa-angle-double-down"></i></a>.
      </p>
      <p class="text-block">
        Těšíme se až si společně vychutnáme sklenku našich prvotřídních produktů!
      </p>
      <div class="signature">
        <h3>
          MAREK a MICHAL KREJČÍ
        </h3>
      </div>
      <hr />
    </div>
    <div>
      <img class="end-page-logo" src="../../assets/img/main-logo.png" alt="Logo Wine & Art" />
    </div>
  </section>

  <section class="light-bg services" id="services-ID">
    <div class="container">
      <h1>Služby</h1>
      <p class="text-block">
        <span>Nabízíme jedinečné služby ve světě vína – smyslem není pouze
          prodej vína, ale hlavně spokojenost zákazníků a jejich rostoucí zájem o víno. Díky tomu můžete ochutnat vína
          přímo </span>
        <span class="text-highlighted">od vinařů, kteří jeho výrobě dávají 100%
          úsilí</span>
          <span>, a tím víno získává jedinečný
          charakter.</span>
        <br>
        <span class="text-highlighted">Za kvalitou pečlivě uskladněných lahví si
          stojíme</span> <span>a vše několikrát ročně ochutnáváme, takže se
          nemusíte bát nechat si od nás poradit.</span>
        <br>
        <span>Možná právě vymýšlíte originální dar pro přátelé či vaše
          blízké? Proč ne právě vínko s nějakou delikatesou! Ideální narozeninový nebo svatební dar, který musí potěšit
          každého!</span>
      </p>
    </div>
    <div class="grid-container container">
      <div>
        <i class="flaticon-wine-tasting"></i>
        <h4>Degustace</h4>
        <p>Pravidelně pořádáme soukromé degustace s
          odborným výkladem. Všechny ochutnané láhve je také možné na místě přímo objednat.</p>
      </div>
      <div>
        <i class="flaticon-discuss-issue"></i>
        <h4>Doporučení</h4>
        <p>Rádi poradíme ať již s výběrem té správné láhve
          nebo s výletem k vinaři, tak abyste si ho maximáloně užili a obohatili svoje znalosti.
        </p>
      </div>
      <div>
        <i class="flaticon-grapes"></i>
        <h4>Návštěva vinic</h4>
        <p>Na přání jsme Vám schopni zajistit návštěvu u
          vinaře. Ať již u našich partnerů na Moravě, tak v i v oblasti Champagne.</p>
      </div>
      
      <div>
        <i class="flaticon-shopping-cart"></i>
        <h4>Prodej</h4>
        <p>Nabízíme pouze námi odzkoušené a pečlivě
          uskladněné láhve. Samozřejmostí je osobní přístup při každém nákupu. Ozvěte se a nechte
          starost na nás.</p>
      </div>
    </div>
    <div>
      <img class="end-page-logo" src="../../assets/img/logos-blue.png" alt="Logo Wine & Art" />
    </div>
  </section>

  <section class="dark-bg offer" id="offer-ID">
    <div class="container">
      <h1>Nabídka</h1>
      <div class="suppliers-list">
        
      </div>
            
    </div>
    <div>
      <img class="end-page-logo" src="../../assets/img/main-logo.png" alt="Logo Wine & Art" />
    </div>
  </section>


  <div style="height:200vh"></div>
</body>

</html>