@import './abstract/mixins';
@import 'abstract/variables';

@import 'components/container';
@import 'components/headings';
@import 'components/navbar';
@import 'components/masthead';
@import 'components/dark-bg';
@import 'components/light-bg';
@import 'components/tiltEl';
@import 'components/table';


@import '../../node_modules/flag-icon-css/css/flag-icon.min.css';
@import '../../assets/img/flaticon/font/flaticon.css';
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

@import 'pages/about';
@import 'pages/services';
@import 'pages/offer';
@import 'pages/contact';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  a {
    text-decoration: none;
  }

  overflow-x: hidden;
}


%link {
  //color: $gold-col;
  text-decoration: none;
  font-weight: 400;
  @include transition(all 0.5s ease);

  &:hover {
    //   color: $pink-col;
    text-decoration: none;
  }
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 100;
}


.text-block{
  max-width: 875px !important;
  text-align: justify;
  margin: auto auto;
}

.text-center{
  text-align: center;
}

.end-page-logo {
  margin: 2em auto !important;
  width: 10%;
  min-width: 150px;
  @include flexbox();
}